.Card {
    display: block;
    width: 60px;
    margin-left: -20px;
    margin-right: 2px;
}

.Card img {
    width: 100%;
}

@media screen and (max-width: 600px){
    .Card {
        width: 41px;
    }
}

@media screen and (max-width: 370px){
    .Card {
        width: 38px;
    }
}