.Player {
    width: 70%;
    position: fixed;
    bottom: 20px;
    left: 15%;
    height: 170px;
    border: 1px solid #944317;
    background-color: #5C9210;
    text-align: center;
}

.Score {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #FFF;
    font-weight: bold;
}